{% extends 'main/layout.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/shop.css' %}">
{% endblock %}
{% block body %}
        <main class="main">
            <div class="content">
                <div class="row">
                    <div class="col">
                        <div class="body_card">
                            <img src="{% static 'main/img/jpeg/1.jpg' %}" alt="Купи" class="card_pic">
                            <p class="text">
                                Стикер Программинг
                            </p>

                                <p class="price">
                                        50 <img src="{% static 'main/img/svg/star.svg' %}" alt="звезда" width="21" height="21" class="star">
                                </p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="body_card">
                            <img src="{% static 'main/img/jpeg/2.webp' %}" alt="Купи" class="card_pic">
                            <p class="text">
                                Стикер Программинг
                            </p>

                                <p class="price">
                                    50
                                    <img src="{% static 'main/img/svg/star.svg' %}" alt="звезда" width="21" height="21" class="star">
                                </p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="body_card">
                            <img src="{% static 'main/img/jpeg/3.webp' %}" alt="Купи" class="card_pic">
                            <p class="text">
                                Стикер Программинг
                            </p>

                                <p class="price">
                                    50
                                    <img src="{% static 'main/img/svg/star.svg' %}" alt="звезда" width="21" height="21" class="star">
                                </p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="body_card">
                            <img src="{% static 'main/img/jpeg/4.webp' %}" alt="Купи" class="card_pic">
                            <p class="text">
                                Стикер Программинг
                            </p>

                                <p class="price">
                                        50 <img src="{% static 'main/img/svg/star.svg' %}" alt="звезда" width="21" height="21" class="star">
                                </p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="body_card">
                            <img src="{% static 'main/img/jpeg/5.webp' %}" alt="Купи" class="card_pic">
                            <p class="text">
                                Стикер Программинг
                            </p>

                                <p class="price">
                                        50 <img src="{% static 'main/img/svg/star.svg' %}" alt="звезда" width="21" height="21" class="star">
                                </p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="body_card">
                            <img src="{% static 'main/img/jpeg/6.webp' %}" alt="Купи" class="card_pic">
                            <p class="text">
                                Стикер Программинг
                            </p>

                                <p class="price">
                                        50 <img src="{% static 'main/img/svg/star.svg' %}" alt="звезда" width="21" height="21" class="star">
                                </p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="body_card">
                            <img src="{% static 'main/img/jpeg/7.webp' %}" alt="Купи" class="card_pic">
                            <p class="text">
                                Стикер Программинг
                            </p>

                                <p class="price">
                                        50 <img src="{% static 'main/img/svg/star.svg' %}" alt="звезда" width="21" height="21" class="star">
                                </p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="body_card">
                            <img src="{% static 'main/img/jpeg/8.jpg' %}" alt="Купи" class="card_pic">
                            <p class="text">
                                Стикер Программинг
                            </p>

                                <p class="price">
                                        50 <img src="{% static 'main/img/svg/star.svg' %}" alt="звезда" width="21" height="21" class="star">
                                </p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="body_card">
                            <img src="{% static 'main/img/jpeg/9.png' %}" alt="Купи" class="card_pic">
                            <p class="text">
                                Стикер Программинг
                            </p>

                                <p class="price">
                                        50 <img src="{% static 'main/img/svg/star.svg' %}" alt="звезда" width="21" height="21" class="star">
                                </p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="body_card">
                            <img src="{% static 'main/img/jpeg/10.webp' %}" alt="Купи" class="card_pic">
                            <p class="text">
                                Стикер Программинг
                            </p>

                                <p class="price">
                                        50 <img src="{% static 'main/img/svg/star.svg' %}" alt="звезда" width="21" height="21" class="star">
                                </p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="body_card">
                            <img src="{% static 'main/img/jpeg/11.jpg' %}" alt="Купи" class="card_pic">
                            <p class="text">
                                Стикер Программинг
                            </p>

                                <p class="price">
                                        50 <img src="{% static 'main/img/svg/star.svg' %}" alt="звезда" width="21" height="21" class="star">
                                </p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="body_card">
                            <img src="{% static 'main/img/jpeg/12.png' %}" alt="Купи" class="card_pic">
                            <p class="text">
                                Стикер Программинг
                            </p>

                                <p class="price">
                                        50 <img src="{% static 'main/img/svg/star.svg'%}" alt="звезда" width="21" height="21" class="star">
                                </p>

                        </div>
                    </div>

                </div>
            </div>

        </main>
{% endblock %}